@model List<ExpenseViewModel>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <section>
                <h3>Riassunto mensile</h3>
                <br>
                <i> Spesa mensile da <br>2023-10-01 a 2023-10-30 </i>
            </section>
            <br>
            <section>
                <b>300,00 EUR</b>
            </section>
        </div>
        <div class="col-md-9">
            <h1>Le tue spese</h1>
            <table class="table table-hover table-sm align-middle">
                <br>
                <thead class=" table-light">
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Soldi</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <partial name="Expenses/_ExpenseLine" model="@item"></partial>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>