@model List<ExpenseListViewModel> 
    
    <div class="container mt-4">
        <h1>Le tue spese</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Soldi</th>
                    <th>Azioni</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                    <td>@item.Date</td>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                    <td>
                        <div class="dropdown">
                            @* <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button> *@
                            <button class="btn btn-primary" type="button" id="dropDownDetail"
                                data-bs-toggle="dropdown" aria-expanded="false">
                           <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropDownDetail">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </td>
                    </tr>
                }
                @* <!-- Esempio di una riga di dati nella tabella -->
                <tr>
                    <td>01/09/2023</td>
                    <td>Acquisto generico</td>
                    <td>50.00€</td>
                    <td>
                        <!-- Icona dei tre puntini per le azioni -->
                        <div class="dropdown">
                            <button class="btn btn-secondary" type="button" id="AltreAzioni" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="AltreAzioni">
                                <!-- Esempio di azioni -->
                                <a class="dropdown-item" href="#">Modifica</a>
                                <a class="dropdown-item" href="#">Elimina</a>
                            </div>
                        </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    </td>
                </tr>
                <!-- Puoi aggiungere più righe di dati qui --> *@
            </tbody>
        </table>
    </div>